@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

 body
 {
    background-color: rgb(4, 120, 222);
 }
 h1
 {
    text-align: center;
    font-family: 'Onest';
    
 }