@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

 body
 {
    background-color: rgb(74, 163, 241);
    color: rgb(31,31,31);
    font-family: 'Onest', monospace;
    text-align: center;
 }
